
thead {color:green;}

  table, td  {
    border: 1px solid black;
  }
  td{
      padding: 10px;
  }
  
  table {
    border-collapse: collapse;
  }

  input[type=text],input[type=number],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  }

  #wrap {
    float: left;
    position: relative;
    left: 50%;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}

#boundary {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}